.block {
	background-color: lightgray;
	border: 2px solid gray;
	padding: 25px;
}

.drop-down {
	background-color: gray;
	margin-bottom: 10px;
}

.top-box {
	background-color: gray;
	margin-bottom: 10px;
}

.image {
	height: 20rem;
	width: 15rem;
	border: .5rem solid white;
	margin: 1rem;
}

.bottom-box {
	background-color: gray;
	margin-bottom: 10px;
}

.select-class {
	font-size: 1.25rem;
}